@font-face {
    font-family: 'Brando Sans Text';
    src: url('/assets/fonts/subset-BrandoSans-Text.eot');
    src: local('Brando Sans Text'), local('BrandoSans-Text'),
        url('/assets/fonts/subset-BrandoSans-Text.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/subset-BrandoSans-Text.woff2') format('woff2'),
        url('/assets/fonts/subset-BrandoSans-Text.woff') format('woff'),
        url('/assets/fonts/subset-BrandoSans-Text.ttf') format('truetype'),
        url('/assets/fonts/subset-BrandoSans-Text.svg#BrandoSans-Text') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brando Sans';
    src: url('/assets/fonts/subset-BrandoSans-SemiBold.eot');
    src: local('Brando Sans SemiBold'), local('BrandoSans-SemiBold'),
        url('/assets/fonts/subset-BrandoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/subset-BrandoSans-SemiBold.woff2') format('woff2'),
        url('/assets/fonts/subset-BrandoSans-SemiBold.woff') format('woff'),
        url('/assets/fonts/subset-BrandoSans-SemiBold.ttf') format('truetype'),
        url('/assets/fonts/subset-BrandoSans-SemiBold.svg#BrandoSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brando Sans';
    src: url('/assets/fonts/subset-BrandoSans-Light.eot');
    src: local('Brando Sans Light'), local('BrandoSans-Light'),
        url('/assets/fonts/subset-BrandoSans-Light.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/subset-BrandoSans-Light.woff2') format('woff2'),
        url('/assets/fonts/subset-BrandoSans-Light.woff') format('woff'),
        url('/assets/fonts/subset-BrandoSans-Light.ttf') format('truetype'),
        url('/assets/fonts/subset-BrandoSans-Light.svg#BrandoSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



* {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    padding: 0;
    color: inherit;
    box-sizing: inherit;
}

*:before,
*:after {
    box-sizing: inherit;
}

label,
img,
audio,
video,
canvas,
meter,
progress,
svg,
iframe {
    display: block;
}

button {
    font-size: inherit;
    cursor: pointer;
    background-color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

html {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body {
    display: flex;
    overflow-x: hidden;
    line-height: 1;
    color: #2B2B2B;
    font-family: 'Brando Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}

body main {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

h1 {
    width: 100%;
}

.RoomList {
    display: flex;
    flex-direction: row;
    max-width: 90%;
    max-width: 98vw;
    padding-bottom: .5em;
    padding-top: .5em;
    max-width: calc(100vw - 2em);
    overflow-x: scroll;
    margin-top: .5em;
}

.RoomList__item {
    width: 20%;
    min-width: 300px;
    border: 1px solid #2B2B2B;
    transition: all ease .2s;
    border-radius: 4px;
    text-decoration: none;
    padding: 1em;
    overflow: hidden;
}

.RoomList__item:hover,
.RoomList__item:focus {
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
}

.RoomList__item-title {
    margin-bottom: 1em;
}

.RoomList__item + .RoomList__item {
    margin-left: 2em;
}

.RoomList__item-data + .RoomList__item-data {
    margin-top: 1em;
}

.MeasurementsList dt {
    margin-top: .5em;
    font-weight: bold;
}

.MeasurementsSection,
.CountriesSection {
    margin-top: 1em;
    flex: 1;
}