<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <main>
            <section>
                Hi
            </section>
        </main>
    </body>
</html>