<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <title>
        Mirabeau room safari: offline
    </title>
</head>
<body>
    <main>
        <p>
            You seem to be offline... 😔.
            You should however still be able to view the last data of all the rooms on the <a href="/">homepage</a> if you got on this page by navigating from that page.
        </p>
    </main>
</body>
</html>