<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <main>
            <h1>Mirabeau Room: <%= room.room_name %></h1>
            <section>
                <h2>Countries that match in environmental conditions</h2>
                <ul>
                    <% matches && matches.forEach(match => { %>
                        <li><%= match.country %></li>
                    <% }) %>
                </ul>
            </section>
        </main>
    </body>
</html>